<mat-toolbar class="navbar">
    <div>
        <span><mat-icon aria-label="Example home icon">home</mat-icon></span>
        Angular
    </div>
    <div>

        <span routerLinkActive="active box">
            <mat-icon aria-label="Example home icon" routerLink="/dashboard">dashboard</mat-icon>
        </span>
        <span routerLinkActive="active box">
            <mat-icon aria-label="Example home icon" routerLink="/account">account_circle</mat-icon>
        </span>
    </div>
</mat-toolbar>
<div id="map" class="map"></div>
